<?xml version="1.0" encoding="UTF-8"?>

<!--put this file in C:\Users\User\.m2-->
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	
	<profiles>
		<!-- development profile-->
		<profile>
			<id>development</id>
			<activation>
				<!-- this profile is active by default -->
				<activeByDefault>true</activeByDefault>
				<!-- activate if system properties 'env=dev' -->
				<property>
					<name>env</name>
					<value>dev</value>
				</property>
			</activation>
			<properties>
				<db.driverClassName>com.mysql.jdbc.Driver</db.driverClassName>
				<db.username>root</db.username>
				<db.password></db.password>
				<sql.dialect>org.hibernate.dialect.MySQL5Dialect</sql.dialect>
				<catalog.db.url>jdbc:mysql://localhost:3306/academic_courses_catalog_development</catalog.db.url>
				<entity.db.url>jdbc:mysql://localhost:3306/academic_courses_entity_development</entity.db.url>
				<user.db.url>jdbc:mysql://localhost:3306/academic_courses_user_development</user.db.url>
				<student.db.url>jdbc:mysql://localhost:3306/academic_courses_student_development</student.db.url>
			</properties>
		</profile>
		
		<!-- production profile-->
		<profile>
			<id>production</id>
			<activation>
				<!-- activate if system properties 'env=prod' -->
				<property>
					<name>env</name>
					<value>prod</value>
				</property>
			</activation>
			<properties>
				<db.driverClassName>com.mysql.jdbc.Driver</db.driverClassName>
				<db.username>root</db.username>
				<db.password></db.password>
				<sql.dialect>org.hibernate.dialect.MySQL5Dialect</sql.dialect>
				<catalog.db.url>jdbc:mysql://localhost:3306/academic_courses_catalog</catalog.db.url>
				<entity.db.url>jdbc:mysql://localhost:3306/academic_courses_entity</entity.db.url>
				<user.db.url>jdbc:mysql://localhost:3306/academic_courses_user</user.db.url>
				<student.db.url>jdbc:mysql://localhost:3306/academic_courses_student</student.db.url>
			</properties>
		</profile>
		
		<!-- test profile-->
		<profile>
			<id>test</id>
			<activation>
				<!-- activate if system properties 'env=test' -->
				<property>
					<name>env</name>
					<value>test</value>
				</property>
			</activation>
			<properties>
				<db.driverClassName>com.mysql.jdbc.Driver</db.driverClassName>
				<db.username>root</db.username>
				<db.password></db.password>
				<sql.dialect>org.hibernate.dialect.MySQL5Dialect</sql.dialect>
				<catalog.db.url>jdbc:mysql://localhost:3306/academic_courses_catalog_test</catalog.db.url>
				<entity.db.url>jdbc:mysql://localhost:3306/academic_courses_entity_test</entity.db.url>
				<user.db.url>jdbc:mysql://localhost:3306/academic_courses_user_test</user.db.url>
				<student.db.url>jdbc:mysql://localhost:3306/academic_courses_student_test</student.db.url>
			</properties>
		</profile>
	</profiles>

</settings>
